body {
    background-color: 1A1B26 !important;
    color: white;
}
.container {
    margin: 0 96px;
}

/* HEADER */
.header-wrapper {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    width: -webkit-fill-available;
    background-color: 1A1B26 !important;
    z-index: 1;
}
 
.header-wrapper .space-dummy {
    position: relative;
    height: 64px;
}

.h-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.h-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 5px;
}

.header a {
    text-decoration: none;
    color: white;
}

.h-logo {
    background-image: url('https://manager.local/storage/images/logo.svg');
    background-size: contain;
    padding: 20px;
}

/* ICONS */
.i-prog {
    background-image: url('https://manager.local/storage/images/types/Vector-type.svg');
    background-size: contain;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
}
.i-art {
    background-image: url('https://manager.local/storage/images/types/Vector-type-1.svg');
    background-size: contain;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
}
.i-stream {
    background-image: url('https://manager.local/storage/images/types/Vector-type-2.svg');
    background-size: contain;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
}

.i-magic {
    background-image: url('https://manager.local/storage/images/i-magic.svg');
    background-size: contain;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
}


.button {
    border-radius: 5px;
    padding: 9px;
    display: flex;  
    justify-content: space-between;
    column-gap: 8px;
}

.button-violet {
    background-color: #7C3AED;
}