body {
    background-color: 1A1B26 !important;
    color: white;
}
.container {
    margin: 0 96px;
}

/* HEADER */
.header-wrapper {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    width: -webkit-fill-available;
    background-color: 1A1B26 !important;
    z-index: 1;
    font-size: 16;
}
 
.header-wrapper .space-dummy {
    position: relative;
    height: 64px;
}

.h-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.h-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.h-logo {
    background-image: url('https://manager.local/storage/images/logo.svg');
    background-size: contain;
    padding: 20px;
}

/* ICONS */
.i-prog {
    background-image: url('https://manager.local/storage/images/types/Vector-type.svg');
    background-size: contain;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
}
.i-art {
    background-image: url('https://manager.local/storage/images/types/Vector-type-1.svg');
    background-size: contain;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
}
.i-stream {
    background-image: url('https://manager.local/storage/images/types/Vector-type-2.svg');
    background-size: contain;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
}

.i-magic {
    background-image: url('https://manager.local/storage/images/i-magic.svg');
    background-size: contain;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
}

.i-list {
    background-image: url('https://manager.local/storage/images/types/i-list.svg');
    background-size: contain;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
}

/* BUTTONS */
.button {
    border-radius: 5px;
    padding: 9px 25px;
    display: flex;  
    justify-content: space-between;
    column-gap: 8px;
}

.button-violet {
    background-color: #7C3AED;
}

.button-transparent {
    border: solid #7C3AED 1px;
}

/* WELCOME BLOCK */
.p-welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    row-gap: 50px;
    margin-top: 150px;;
}
.p-welcome p {
    font-size: 20;
    color: #9CA3AF;
    line-height: 20px;
    text-align: center;
    
}
.p-welcome-group {
    display: flex;
    justify-content: center;
    column-gap: 16px;

}

/* ITEMS */
.p-items-wrapper {
    margin-top: 80px;
}
.p-items {
    display: flex;
    justify-items: flex-start;
    column-gap: 24px;
    align-items: center;
}
.p-items-wrapper > .label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}
.p-items-wrapper > .label > h5 {
    margin: unset;
}


.p-items-wrapper .p-items-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    column-gap: 12px;

}
/* ITEM */
.p-item label {
    font-size: 20;
}

.p-item p {
    margin-top: 42px;
}
.p-item .time {
    display: flex;
    justify-content: end;
}
.q-card--dark {
    box-shadow: none !important;
}
